include _mixins
mixin select(className, title, num)
    .select(class=className)
        button.select__toggle.js-toggle(type="button" data-target="dropdown")=title
        .select__drop(data-attr="dropdown")
            .select__b
                .select__title
                    img(src="img/icon-tie.png", alt="icon")
                ul.select__list
                    - var n = 1
                    while n < num
                        li.select__item
                            a.select__link(href='#')
                                img.select__img(src=`img/tie-color-${n++}.png`, alt="img")
            .select__b
                .select__title
                    img(src="img/icon-shirt.png", alt="icon")
                ul.select__list
                    - var n = 1
                    while n < num
                        li.select__item
                            a.select__link(href='#')
                                img.select__img(src=`img/shirt-color-${n++}.png`, alt="img")
mixin decor(items, mod_class)
    .decoration__select.buttons__select(class=mod_class)
        .buttons
            .constructor__option_head Цвет пуговиц
            .constructor__options.constructor__slider
                each item, i in items
                    .constructor__options_b
                        .constructor__option.js-constructor__option(class= (i === 0) ? "active" : false)
                            .item__img
                                img(src=`img/button-${i+1}.png`)
                            .item__name=item
                            //- .item__price 200р
                            a(class="item__link" href="#") Подробнее
                        if i === 3
                        else
                            .constructor__option.js-constructor__option
                                .item__img
                                    img(src=`img/button-${i+1}.png`)
                                .item__name=item
                                //- .item__price 200р
                                a(class="item__link" href="#") Подробнее
        if mod_class === "b-pants"
            .volume.pants
                .constructor__option_head Застежка
                .constructor__options
                    .active.constructor__option.js-constructor__option
                        .item__img
                            img(src='img/pants-1.png')
                        .item__name На молнии
                    .constructor__option.js-constructor__option.disabled
                        .item__img
                            img(src='img/pants-2.png')
                        .item__name На пуговицах
            .volume.pants
                .constructor__option_head Обеденный защип
                .constructor__options
                    .active.constructor__option.js-constructor__option
                        .item__img
                            img(src='img/pants-3.png')
                        .item__name Да
                    .constructor__option.js-constructor__option
                        .item__img
                            img(src='img/pants-4.png')
                        .item__name Нет
        else
            .buttonhole
                .constructor__option_head.constructor__options_b
                    span Цвет петли для бутоньерки
                    .checkbox__wrap
                        input#buttonholeOption1(type='checkbox', name='buttonhole-options', hidden='', data-attr="access_denied", data-target="buttonhole_slider")
                        label(for='buttonholeOption1') в тон
                .constructor__options_b
                    .constructor__options_decs
                        img(src="img/buttonhole-desc.png", alt="buttonhole")
                    .constructor__options.constructor__slider(data-id="buttonhole_slider")
                        each item in ["1", "2", "3", "4", "1", "2", "3", "4"] 
                            .constructor__option.js-constructor__option(class= (item === "1") ? "active" : false)
                                .item__img
                                    img(src=`img/buttonhole-color-${item}.png`, alt='color')
            .embroidery-color
                .constructor__option_head.constructor__options_b
                    span Цвет вышивки
                    .radio__wrap
                        input#embroideryOption1(type='radio', name='embroidery-options', checked='', hidden='')
                        label(for='embroideryOption1') да
                    .radio__wrap
                        input#embroideryOption2(type='radio', name='embroidery-options', hidden='', data-attr="access_denied", data-target="embroidery")
                        label(for='embroideryOption2') нет
                .constructor__options_b
                    .constructor__options_decs
                        img(src="img/embroidery-desc.png", alt="embroidery")
                    .constructor__options.constructor__slider(data-id="embroidery")
                        each item in ["1", "2", "3", "4", "1", "2", "3", "4"] 
                            .constructor__option.js-constructor__option(class= (item === "1") ? "active" : false)
                                .item__img
                                    img(src=`img/embroidery-color-${item}.png`, alt='color')
            .embroidery
                .constructor__option_head 
                    span Вышивка на подкладке
                .embroidery-text(data-id="embroidery")
                    input(type='text', placeholder='Введите текст...', maxlength='10')
                    .embroidery-note Количество символов не должно превышать 10
//- ПАРАМЕТРЫ КОСТЮМА
- var params_blazer = [{name: "Ткань", value: "Houston white", select: false}, {name: "Оформление края борта", value: "Однобортный"}, {name: "Форма лацкана", value: "Ласточкина крыло"}, {name: "Карманы", value: "Наклонные в рамку"}, {name: "Шлицы", value: "Без шлиц"}, {name: "Пуговицы", value: "Беж", select: false}, {name: "Цвет ветли бля бутоньерки", value: "Красный", select: false}, {name: "Вышивка", value: "Нет", select: false}, {name: "Цвет вышивки", value: "Серый", select: false}]
- var params_pants = [{name: "Ткань", value: "Houston white", select: false}, {name: "Низ брюк", value: "Без манжет"}, {name: "Карманы передние", value: "Наклонные"}, {name: "Карманы задние", value: "Один карман"}, {name: "Пуговицы", value: "Смоляной", select: false}, {name: "Застежка", value: "На молнии"}, {name: "Защип", value: "Да"}]
mixin param()
    .shirt__params.suit
        form.suit__form
            .suit__b
                .constructor__option_head Пиджак
                each param in params_blazer
                    .params__item
                        .params__name=param.name
                        if param.select === false
                            .params__value=param.value
                        else
                            .params__value.select__item
                                input.select__field(type='text', value=param.value, readonly='')
                                a.arrow(href='#')
                                .submenu
                                    a.submenu__item(href='#') Приталенный
                                    a.submenu__item(href='#') Стандартный
            .suit__b
                .constructor__option_head Брюки
                each param in params_pants
                    .params__item
                        .params__name=param.name
                        if param.select === false
                            .params__value=param.value
                        else
                            .params__value.select__item
                                input.select__field(type='text', value=param.value, readonly='')
                                a.arrow(href='#')
                                .submenu
                                    a.submenu__item(href='#') Приталенный
                                    a.submenu__item(href='#') Стандартный