.header__bottom .menu,
.header__bottom .submenu {
    z-index: 100;
}
.wrapper.constructor__wrapper.is-mod .mobile__menu {
    width: 100%;
}

@media screen and (max-width: 830px) {
    .wrapper.constructor__wrapper.is-mod {
        min-width: auto;
    }

    .wrapper.constructor__wrapper.is-mod .main {
        transform: scale(0.54);
        transform-origin: 0 0;
    }

    .wrapper.constructor__wrapper.is-mod .footer {
        .container-fluid {
            width: 100%;
        }
    }
    .wrapper .header__bottom .container-fluid {
        padding-top: 70px;
        width: 100vw;
        margin: 0;
    }
}