/*menu 830*/
.wrapper.constructor__wrapper .mobile__menu {
    width: 100%;
}

@media screen and (max-width: 830px) {
    .wrapper.constructor__wrapper:not(.is-mod) {
        min-width: auto;
    }

    .wrapper.constructor__wrapper:not(.is-mod) .main {
        transform: scale(0.64);
        transform-origin: 0 0;
    }

    .wrapper.constructor__wrapper:not(.is-mod) .footer {
        .container-fluid {
            width: 100%;
        }
    }
}

@media screen and (max-width: 680px) {
    .wrapper.constructor__wrapper:not(.is-mod) {
        .constructor__tabs .select__item {
            display: inline-block;
        }
    }
}

/*end menu 830*/
/*fixes 01-02*/
.constructor__wrapper.is-mod {
    .container-fluid {
        width: 1540px;
    }

    .secondary__tabs_item {
        height: auto;
    }

    .constructor__tabs {
        height: 100%;
    }

    .cloth__item {
        width: 138px;

        .item__img {
            height: 100px;
            overflow: hidden;
        }
    }

    .constructor__option_head {
        font-weight: 700;
    }

    .style__select {
        .volume {
            margin-bottom: 35px;
        }

        .constructor__option {
            width: 121px;

            &::before {
                height: 171px;
            }

            .item__img {
                width: 75px;
                height: 110px;
                margin: 0 auto 10px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    max-height: 100%
                }
            }
        }
    }

    .sleeve__select {
        .cuffs {
            margin-bottom: 8px;
        }

        .constructor__option {
            width: 121px;

            &::before {
                height: 171px;
            }

            .item__img {
                width: 75px;
                height: 110px;
                margin: 0 auto 10px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    max-height: 100%
                }
            }
        }
    }

    .buttons__select {
        &>* {
            margin-bottom: 20px;
        }

        .constructor__option_head {
            padding-left: 20px;
        }

        .constructor__option {
            text-align: center;
            margin-bottom: 10px;

            a.item__link {
                top: 110px;
            }
        }

        .constructor__options.constructor__slider {
            display: inline-block;
            vertical-align: top;

            .constructor__options_b {
                &:focus {
                    outline: none;
                }
            }
        }
    }

    .b-pants {
        .pants {
            .constructor__option {
                width: 121px;

                &::before {
                    height: 152px;
                }

                .item__img {
                    width: 75px;
                    height: 110px;
                    margin: 0 auto 10px;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        max-height: 100%
                    }
                }
            }
        }
    }

    .buttonhole,
    .embroidery,
    .embroidery-color {
        padding-left: 20px;

        .constructor__option_head {
            padding-left: 0;

            label {
                margin-bottom: 0;
            }

            .checkbox__wrap,
            .radio__wrap {
                margin-left: 10px;
            }
        }

        .constructor__options.constructor__slider {
            width: 390px;
        }

        .constructor__option {
            margin-bottom: 15px;

            .item__img {
                height: 80px;
            }

            &:before {
                height: 92px;
            }
        }

        .constructor__options_decs {
            width: 75px;
            margin-right: 35px;
        }

        .constructor__options_b {
            display: flex;
            align-items: center;
        }
    }

    .buttons {
        margin-bottom: 10px;

        .slider__small_arrow {
            top: 120px;
        }

        .constructor__slider {
            margin-left: 20px;
        }

        .constructor__options_b {
            &.slick-slide {
                margin-bottom: 35px;
            }
        }
    }

    .embroidery {
        .embroidery-text {
            top: 0;
        }
    }

    .pants {
        .item__img {
            display: flex;
            align-items: flex-end;
        }
    }

    .suit {
        max-width: none;
        padding-top: 0;
        padding-left: 0;

        &__b {
            border-bottom: 1px solid#ebebeb;
            padding: 30px 75px 30px 50px;

            &:last-child {
                border-bottom: none;
            }
        }

        .constructor__option_head {
            padding-left: 0;
            margin-bottom: 10px;
        }
    }

    .constructor__slider {
        width: 500px;

        .slick-arrow[aria-disabled="true"] {
            visibility: hidden;
        }
    }
}

.is-disabled {
    opacity: 0.4 !important;
    pointer-events: none !important;
    user-select: none !important;
}

.select {
    position: relative;

    &:not(:first-child) {
        border-top: 1px solid #ebebeb;
        margin-top: 20px;
    }

    &__toggle {
        width: 100%;
        position: relative;
        color: #1c1c1c;
        font-size: 11px;
        font-weight: 400;
        background-color: transparent;
        border: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        text-align: left;
        appearance: button;
        padding: 15px 25px 15px 9px;

        &::after {
            content: "";
            position: absolute;
            right: 5px;
            top: 50%;
            width: 7px;
            height: 6px;
            margin-top: -3px;
            background: url(../img/select_arrow.png) no-repeat;
        }

        &:focus,
        &:active {
            outline: none;
        }
    }

    &__drop {
        display: none;
        position: absolute;
        text-align: center;
        top: 49px;
        right: 0;
        width: 100%;
        padding: 14px 7px;
        background-color: #ffffff;
        border-radius: 2px;
        box-shadow: 0 0 9px rgba(2, 2, 2, 0.22);
        z-index: 10;
    }

    &__b {
        display: inline-block;
        vertical-align: top;
        margin-right: -3px;
    }

    &__title {
        margin-bottom: 17px;

        .select__b:not(:last-child) & {
            border-right: 1px solid #ebebeb;
        }
    }

    &__list {
        list-style: none;
        padding: 0 5px;
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__link[href] {

        .select & {
            position: relative;
            display: block;
            width: 36px;
            height: 36px;
            padding-top: 0;
            margin-right: 0;

            &:hover,
            &.is-active {

                &::before {
                    position: absolute;
                    top: -3px;
                    left: -3px;
                    width: 42px;
                    height: 42px;
                    border: 3px solid #ffffff;
                    box-shadow: 0 0 7px rgba(2, 2, 2, 0.5);
                    margin: 0;
                }
            }
        }
    }
}

.is-mod {
    &__wrap {
        display: flex;
    }

    &.item_info {

        .info__btns {
            text-align: center;
            margin-right: 30px;

            a {
                margin-left: 13px;
                margin-right: 0;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &.constructor__item {
        padding: 45px 264px 39px;

        .steps__btns {
            margin-right: 0;
        }

        .item__img {
            position: relative;
            width: 358px;
            height: 650px;
            margin: 0 auto 69px;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    a.red_back {
        background-color: red;

        &:hover {
            color: #1c1c1c;
            background-color: #fff;
        }
    }
}

/*end fixes 01-02*/
/*bug-list-27-02*/
@import "bug-list-27-02";
/*end bug-list-27-02*/